body {
  background-image: url(nolan-issac-It0DCaCBr40-unsplash.jpg);
  background-size: cover;
}
.align-center {
  margin-left: 40%;
  color: aqua;
}
.input {
  font-weight: bold;
  margin-left: 22%;
  width: 535px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid rgb(255, 0, 200);
  outline: none;
}
ul li {
  list-style: none;
  font-size: bold;
  color: rgb(160, 220, 20);
  margin: 5px;
}
ul li a {
  color: aqua;
  text-decoration: none;
}
